.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite
*.sqlite3
.env
.venv
venv/
extension/
preview.html
test.py
check_api.py
fullsell_bot.py
uzum_auth.py
uzum_selenium.py
0
amvera.yaml
*.md
