{$DOMAIN} {
    encode gzip
    reverse_proxy app:8000

    header {
        # Безопасные заголовки
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer-when-downgrade"
    }

    log {
        output stdout
        format console
        level INFO
    }
}
